@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card sticky-top shadow-box" style="width: 18rem; top: 70px; margin: auto;">
                <div class="text-center" style="height: 200px; width: 100%; background-color: #2d4553"></div>
                <div class="profile-pic">
                    <img class="card-img-top" src="~/images/avatar_male.png" alt="Card image cap">
                </div>
                <div class="w-100" style="height: 60px"></div>
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                @*<div class="w-100" style="height: 50px"></div>
                <div class="social-bar">
                    <a href="https://www.facebook.com/name" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.twitter.com/name" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="javascript:void" class="more-info">
                        <i class="fa fa-user"></i>
                    </a>
                </div>*@
            </div>
        </div>
        <div class="col-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="height: 500px;">
                        <a href="#">
                            <img class="d-block w-100" src="~/images/carousel_1.jpeg" alt="Visas" style="filter: brightness(80%)">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Visas</h5>
                                <p>Get Visa acquisition or residence permit assistance </p>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item" style="height: 500px;">
                        <img class="d-block w-100" src="~/images/carousel_3.jpg" alt="Taxes" style="filter: brightness(80%)">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Taxes</h5>
                            <p>Consider taxes in your financial plan. Learn what taxes you have to pay as international professional</p>
                        </div>
                    </div>
                    <div class="carousel-item" style="height: 500px;">
                        <img class="d-block w-100" src="~/images/carousel_5.jpg" alt="Inspection">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Inspection</h5>
                            <p>Everything you need to know about business inspections</p>
                        </div>
                    </div>
                    <div class="carousel-item" style="height: 500px;">
                        <img class="d-block w-100" src="~/images/carousel_7.jpeg" alt="Tender" style="filter: brightness(80%)">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Apply for Tender</h5>
                            <p>If your company is ready to procure solutions for government projects then participate in tender sales now</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <br /><hr />
            <h3 class="py-3">
                Professional guidance in all parts of your business
            </h3>
            <dl class="row">
                <dt class="col-sm-3">International</dt>
                <dd class="col-sm-9">Obtain visa and right work permit effortlessly.</dd>

                <dt class="col-sm-3">Taxes and subsidies</dt>
                <dd class="col-sm-9">
                    <p>Comprehensive package on all types of taxes for your business.</p>
                    <p>All documents covered. From income tax to water tax. Don't look any further.</p>
                </dd>

                <dt class="col-sm-3">Inspection</dt>
                <dd class="col-sm-9">We provide various inspection services to ensure and certify the quality of your work as well as your establishments</dd>

                <dt class="col-sm-3">Tendering</dt>
                <dd class="col-sm-9">
                    Entire process for tender application made easier. Follow all stages:
                    <em>open procedure</em>, <em>restricted procedure</em>, <em>negotiated procedire</em> etc. to
                    secure your tender applciation
                </dd>

                <dt class="col-sm-3">Work</dt>
                <dd class="col-sm-9">
                    <dl class="row">
                        <dt class="col-sm-4">Job hunting</dt>
                        <dd class="col-sm-8">Make personolized CV document and start searching for a job by clicking on "Jobs" tab.</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-4">Hire professionals</dt>
                        <dd class="col-sm-8">Register your company by clicking on "Business" tab and start searching for professionals right away</dd>
                    </dl>
                </dd>
            </dl>
            <hr /><br />
            <div class="row justify-content-center">
                <div class="col-2 text-center text-secondary">
                    <i class="fab fa-html5 fa-4x"></i>
                </div>
                <div class="col-2 text-center text-secondary">
                    <i class="fab fa-css3-alt fa-4x"></i>
                </div>
                <div class="col-2 text-center text-secondary">
                    <i class="fab fa-js fa-4x"></i>
                </div>
            </div>
            <br /><br />
        </div>
        <div class="col-3">

        </div>
    </div>
</div>
<script>
    $('.more-info').click(function () {
        $(".card").toggleClass('flip');
    });
</script>